.flipCard {
  margin: 2rem 0rem;
  min-height: 220px;
  width: 35vw;
}
.flipCardInner {
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  display: flex;
  transition: 250ms ease-in;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;
    transform: scale(1.05);
  }
  &.Right {
    flex-direction: row-reverse;
    .flipCardBack {
      margin-right: auto;
    }
  }
}
.flipCardFront {
  img {
    max-height: 200px;
  }
}
.flipCardBack {
  padding: 0 1rem;
  h2 {
    color: var(--clr-primary);
  }
  p {
    font-style: italic;
    color: var(--logoColor);
  }
}
@media screen and (max-width: 1440px) {
  .flipCard {
    position: relative;
    margin: 1.5rem auto;
    
  }
}
@media screen and (max-width: 1000px) {
  .flipCard {
    background-color: transparent;
    perspective: 1000px;
    width:90vw;
  }

  .flipCardInner {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: var(--flipCardContainer);
    &:hover {
      transform: scale(1);
    }
  }

  .flipCardInner.active {
    transform: rotateY(180deg);
  }

  .flipCardFront,
  .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* Imagen */
  .flipCardFront {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Texto */
  .flipCardBack {
    padding: 1.5rem;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin-top: 0;
      margin-bottom:0;
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 0;
      font-size: 1.1rem;
    }
  }
}
