
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after{
  box-sizing:border-box;
}

:root{
  --clr-primary: #ef5939;
  --clr-primary-hover: #e53a1f;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --cardsContainerBackground: #fff;
  --flipCardContainer: #fff;
  --logoColor: #000;
}

body{
  overflow-x:hidden;
}